---
import Layout from "../layouts/Layout.astro";
import CornellPomodoro from "../components/CornellPomodoro";
---

<Layout title="Welcome to Astro.">
  <main>
    <CornellPomodoro client:idle />
  </main>
</Layout>
